:root{
  --white: #FFFFFF;
  --gray: #404040;
  --blue-dark: #001055;

  font-size: 62.5%;
  font-family: 'Poppins'; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(164deg, #5FCAF7 -9.63%, #2F73C0 106.36%);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

body::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('assets/biblia-bg.png');
  background-size: cover;
  background-position: center;

  z-index: -2;
}

.content{
  width: 80%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.dia-data{
  color: var(--white);
  text-align: center;

  font-size: 1.4rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2rem;
}

.dia-data span{
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}

.container-versiculo{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .8rem;

  padding: 1.2rem;
  border-radius: 2rem;
  background: var(--white);

  box-shadow: 0 6px 15px -2px rgba(16, 24, 40, 0.08), 0 6px 15px -2px rgba(16, 24, 40, 0.08);
}

.versiculo{
  color: var(--gray);
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.1rem;
}

.referencia{
  color: var(--blue-dark);
  text-align: center;
  text-transform: uppercase;

  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

}

.logo-realize{
  width: 8.8rem;
}

.redes-sociais{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .8rem;

  p{
    color: var(--white);
    text-align: center;

    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4rem;
  }

  .rede{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}